
mat-card-header{
    color: white;;
}

.container {
    margin: auto;
    width: 80%;
    padding: 32px;
}

.mat-card-header {
    background-color: #627ffc;
    width: 100%;
}

.add-button {
    background: white;
    border: none;
    margin-top: -1%;
    color: black;
}

:host::ng-deep .processTable>thead {
    background-color: #dcdde0;
}

.element-row {
    position: relative;
    cursor: pointer;
}

.element-row:hover {
    background: #f5f5f5 !important;
}